@import "~/assets/style/resetelementui.scss";
@import "~/assets/style/basecolor.scss";
.fr {
  float: right;
}

.fl {
  float: left;
}
a:hover {
  text-decoration: none;
}
html,body,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
footer {
  text-align: center;
  color: #7f828b;
  margin-top: 40px;
  line-height: 40px;
}

.uk-navbar-container {
  background: $baseColor !important;
}

.uk-navbar-dropdown {
  width: 100px;
  padding: 10px;
}
[class*=uk-navbar-dropdown-bottom] {
  margin-top: 0px;
}
.uk-logo a{
  color: white;
  font-size: 25px !important;
  &:hover {
    color: white;
    opacity: 0.7;
  }
}

.uk-navbar-nav>li:not(.uk-active):hover>a {
  color: #fff;
  opacity: 0.7;
}
.uk-navbar-nav>li.uk-active>a {
  color: #fff;
  opacity: 0.7;
}
.uk-navbar-nav>li>a {
  color: #fff;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  height: 60px;
  font-size: 18px;
}

.card_info {
  height: 50px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}